$rose-ebony: #5f464bff;
$cordovan: #8e4a49ff;
$cambridge-blue: #7daa92ff;
$fluorescent-cyan: #80ffecff;
$celeste: #c2fbefff;

/* SCSS HEX */
$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #e76f51;
$platinum: #e5e5e5ff;
$white: #ffffffff;

$primary-color: $orange-web;
$secondary-color: $rose-ebony;
