@import '/src/Styles/Partials/variables';
@import '/src/Styles/Partials/mixins';

.stocks{
     
    width: 100%;
    min-height: 180vh;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    &__dashboard{
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 2rem;
        justify-content: space-between;
    }
    &__component{
       
        width: 80%;
        height: 40vh;
        border-radius: 0.25rem;
        padding: 2rem;
        
        @include card-component;


    }
    &__list{
        width: 30%;
        background-color: white;
        
       
        background-color:rgba($color: #000000, $alpha: 0);
        outline: none;

        border-radius: 0.25rem;
        :nth-last-child(1)
    {
        border-bottom: none;
    }
    }
    &__list-items{
        height: 100%;
        outline: none;
        border: none;
        display: flex;

        align-items: center;
        flex-direction: column;
        list-style-type: none;
        overflow: visible;
        background-color: transparent;
        
    }
    &__list-item{
        width: 100%;
        padding: 1rem 0;
        border-bottom: 0.0675rem solid $platinum;
        background-color: white;
        color: $primary-color;
        @include card-component;

      
        &:hover{
            background-color: $primary-color;
            color: white;
            transition: 0.7s;
            cursor: pointer;
            border-bottom: none;
            transform: perspective(10px) rotateX(1deg);
            box-shadow: none;
            box-shadow: none;
       
        }
        &--selected{
            background-color: $primary-color;
            color: white;
            transition: 0.7s;
            cursor: pointer;
            
        }
        &:active{
            transform: perspective(10px) rotateX(1deg) translate(0rem, 0.25rem);
        }

    }

    &__details{
        margin: 2rem 0;
        display: flex;
        width:calc(70% + 1rem);
        justify-content: space-between;
        flex-direction:column;
        gap: 1rem;
    }
    &__card{
        min-width: 12%;
        @include card-component;
        border-radius:0.25rem;
       
        padding: 1rem;
        &--neg{
            
            color: red;
            
        }
        &--pos{
            
            color: green;
            
           
        }
        &:hover{
            transform: scale(1.05);
            cursor:default
        }
        
    }
    &__card-body{
        color: grey;
    }
    &__card-title{
        color: $primary-color;
        padding: 0 0 0.25rem;
    }
    &__title{
        @include title;
    }
    @media (min-width: 65rem) {
       @include desktop-wrapper;
        &__details{
            flex-direction:row;
            gap: 1rem;
        }  
        &__dashboard{
            
            
            display: flex;
            flex-direction:row;

            width: 100%;
            height: 30rem;
            gap: 2rem;
            justify-content: space-between;
        }

        }
}