@import '/src/Styles/Partials/variables';
@import '/src/Styles/Partials/mixins';


.stocks{
     
    width: 100%;
   
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    &__input{
        box-shadow: 2px 2px 2px grey;
        border-radius: 0.3rem;
        text-indent: 0.5rem;
        border: 0.0675rem solid grey;
        transition: 0.5s;
        &:focus{
            outline: 0.0675rem solid $primary-color;
            border: 0.0675rem solid $primary-color;
           
        }

      }
      &__search{
        display: flex;
        gap: 1rem;
        margin: 0 0 0.5rem;
      }
      &__go{
        background-color: $primary-color;
        color : white;
        border-radius: 0.3rem;
        padding: 0.2rem;
        border: none;
        transition: 0.7s;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;

        }
      }
    &__dashboard{
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 2rem;
        justify-content: space-between;
    }
    &__component{
      
        width: 77%;
        height: 22.5rem;
        border-radius: 0.25rem;
        padding: 2.6rem 0.7rem;
        
        @include card-component;


    }
    &__list{
        width: 30%;
        background-color: white;
        
       
        background-color:rgba($color: #000000, $alpha: 0);
        outline: none;

        border-radius: 0.25rem;
        :nth-last-child(1)
    {
        border-bottom: none;
    }
    }
    &__list-items{
        height: 100%;
        outline: none;
        border: none;
        display: flex;
        gap: 0.1rem;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        overflow: visible;
        background-color: transparent;
        
    }
    &__list-item{
        width: 100%;
        padding: 1rem 0;

        background-color: white;
        color: $secondary-color;
        @include card-component;
        box-shadow: none;

     
        &:hover{
            background-color: $primary-color;
            color: white;
            transition: 0.7s;
            cursor: pointer;
            border-bottom: none;
            transform: perspective(10px) rotateX(1deg);
       
       
        }
        &--selected{
            background-color: $primary-color;
            opacity: 0.9;
            color: white;
            transition: 0.7s;
            cursor: pointer;
            
        }
        &:active{
            transform: perspective(10px) rotateX(1deg) translate(0rem, 0.25rem);
        }

    }

    &__actions{
       
        width: 30%;
        display: flex;
        &:hover{
            cursor: pointer;
        }
    }
    &__buy{
        margin: 2rem 1rem 2rem 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: 1s;
        
        h3{
            color: $secondary-color;
        }
        &:hover{
            background-color: green;
            cursor: pointer;
            h3{
                color: white;
            }
        }
    }
    &__sell{
        margin: 2rem 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: 1s;
        z-index: 1;
        h3{
            color: $secondary-color;
        }
        &:hover{
            background-color: rgb(220, 29, 29);
            cursor: pointer;
            h3{
                color: white;
            }
        }
    }
    &__details{
        margin: 2rem 0;
        display: flex;
        width:calc(80%);
        justify-content: space-between;
        flex-direction:column;
        gap: 1rem;
    }
    &__card{
        min-width: 12%;
        @include card-component;
        border-radius:0.25rem;
       
       
        padding: 1rem;
        &--neg{
            
            color: red;
            
        }
        &--pos{
            
            color: green;
            
           
        }
        &:hover{
            transform: scale(1.05);
           
        }
        
    }
    &__card-body{
        color: grey;
    }
    &__card-title{
        color: $primary-color;
        padding: 0 0 0.25rem;
    }
    &__title{
        @include title;
    }
    &__small-dashboard{
        width:100%;
        display: flex;
        gap: 2rem

    }
    @media (min-width: 65rem) {
       @include desktop-wrapper;
        &__details{

            flex-direction:row;
            gap: 1rem;
        }  
        &__dashboard{
            
            display: flex;
            flex-direction:row;

            width: 100%;
            height: 30rem;
            gap: 2rem;
            justify-content: space-between; 
        }

        }
}