@import '/src/Styles/Partials/variables';

.nav-background{
    background: linear-gradient(to right, $primary-color, #8b0000);
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}
.nav{
    @media (min-width: 65rem) {
        margin: auto;
        width: 980px;
        }
    position: sticky;
    top: 0;
    z-index: 1;
    background: none;
    border: none;
    
    padding: 0 2rem;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__div{
        display: flex;
        justify-content: end;
        width: 100%;
        gap: 1rem;
    }
    &__list{
        
        @media (min-width: 65rem) {
            width: 980px;
            }
        display: flex;

        color: white;
        flex-direction: row;
        gap: 2rem;
        overflow: visible;
        list-style-type: none;
        height: 2rem;
        align-items: center;
    }
    &__list-item{
        display: flex;
        font-weight: 500;
        border-radius:0.25rem;      
        width: 5rem;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: white;
            color: gray;
            transition: 0.7s;
            height: 2rem;
            cursor: pointer;
            
            
           
        }
        &--selected{
            background-color: white;
            color: gray;
            height: 2rem;
            
            
           
        }

    }
    &__list-logo{
        margin-top: 1rem;
        display: flex;
        width: 3rem;
        height: 100%;
        padding: 0 3rem 0 0;
        align-items: start;
        
        overflow: visible;
    }
    &__list-img{
        width: 100%;
        object-fit: contain;
    }
}