@import '/src/Styles/Partials/variables';
.nav{
    background-color: $primary-color;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    &__list{
        @media (min-width: 65rem) {
            margin: auto;
            width: 68rem;
            }
        display: flex;
        color: white;
        flex-direction: row;
        gap: 0.5rem;
  
        list-style-type: none;
        height: 2rem;
        align-items: center;
    }
    &__list-item{
        display: flex;
        border-radius:0.25rem;      
        width: 5rem;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: white;
            color: gray;
            transition: 0.7s;
            height: 2rem;
            
            
           
        }
        
    }
    &__list-logo{
        margin-top: 1rem;
        display: flex;
        width: 8rem;
        align-items: center;
    }
    &__list-img{
        width: 100%;
        object-fit: contain;
    }
}