@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./Assets/Fonts/Figtree-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

body {
  
  overflow: overlay;
  font-family: 'Figtree', sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Figtree', sans-serif;
  font-weight: bold;
  font-style: normal;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  width: 100%;
}
label{
  font-size: 10px;
}
a{
  text-decoration: none;
  color: inherit;
  &:visited{
    color: inherit;
  }
  
}