.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  width: 100%;
}
label{
  font-size: 10px;
}
a{
  text-decoration: none;
  color: inherit;
  &:visited{
    color: inherit;
  }
  
}